In [21]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import confusion_matrix, accuracy_score 
from yellowbrick.classifier import ConfusionMatrix
from sklearn.svm import SVC
from ipynb.fs.defs.Naive_bayes import categorical_enconding
from sklearn.ensemble import ExtraTreesClassifier

In [31]:
credit = pd.read_csv("../Credit.csv")
credit.head(3)

,checking_status,duration,credit_history,purpose,credit_amount,savings_status,employment,installment_commitment,personal_status,other_parties,...,property_magnitude,age,other_payment_plans,housing,existing_credits,job,num_dependents,own_telephone,foreign_worker,class
0,<0,6,'critical/other existing credit',radio/tv,1169,'no known savings',>=7,4,'male single',none,...,'real estate',67,none,own,2,skilled,1,yes,yes,good
1,0<=X<200,48,'existing paid',radio/tv,5951,<100,1<=X<4,2,'female div/dep/mar',none,...,'real estate',22,none,own,1,skilled,1,none,yes,bad
2,'no checking',12,'critical/other existing credit',education,2096,<100,4<=X<7,2,'male single',none,...,'real estate',49,none,own,1,'unskilled resident',2,none,yes,good

In [32]:
class_pred = credit['class']
attb = credit.drop("class",axis=1)

In [33]:
attb = categorical_enconding(attb)
attb

,checking_status,duration,credit_history,purpose,credit_amount,savings_status,employment,installment_commitment,personal_status,other_parties,residence_since,property_magnitude,age,other_payment_plans,housing,existing_credits,job,num_dependents,own_telephone,foreign_worker
0,2,6,1,7,1169,0,3,4,3,2,4,2,67,1,1,2,3,1,1,1
1,1,48,3,7,5951,3,0,2,0,2,2,2,22,1,1,1,3,1,0,1
2,0,12,1,4,2096,3,1,2,3,2,3,2,49,1,1,1,2,2,0,1
3,2,42,3,5,7882,3,1,2,3,1,4,0,45,1,0,1,3,2,0,1
4,2,24,2,1,4870,3,0,3,3,2,4,1,53,1,0,2,3,2,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,0,12,3,5,1736,3,1,3,0,2,4,2,31,1,1,1,2,1,0,1
996,2,30,3,2,3857,3,0,4,1,2,4,0,40,1,1,1,0,1,1,1
997,0,12,3,7,804,3,3,4,3,2,4,3,38,1,1,1,3,1,0,1
998,2,45,3,7,1845,3,0,4,3,2,4,1,23,1,0,1,3,1,1,1
999,1,45,1,2,4576,1,4,3,3,2,4,3,27,1,1,1,3,1,0,1

In [34]:
X_train, X_test, Y_train, Y_test = train_test_split(attb, class_pred,
                                                   train_size = 0.7,
                                                   random_state = 1)

In [35]:
svm = SVC()
svm.fit(X_train, Y_train)

SVC()

In [44]:
Y_predict = svm.predict(X_test)
acc = accuracy_score(Y_test, Y_predict)
acc

0.7166666666666667

In [23]:
#Identifies attributes that are most important
forest = ExtraTreesClassifier()
forest.fit(X_train, Y_train)
result = forest.feature_importances_
result

array([0.10306165, 0.07892828, 0.06864848, 0.05937494, 0.08441541,
       0.05011299, 0.05128864, 0.05461595, 0.0441142 , 0.02815493,
       0.05130314, 0.04688766, 0.07026436, 0.04190392, 0.03542794,
       0.03218238, 0.0395268 , 0.02209619, 0.03133961, 0.00635253])

Considering the results we can see that the attributes 'checking_status', 'duration', 'credit_amount' and 'age' are the most relevant for the model

In [39]:
X_train2 = X_train.iloc[:,[0,1,2,3]]
X_test2 = X_test.iloc[:,[0,1,2,3]]

In [50]:
#Training again with the new relation

svm2 = SVC()
svm2.fit(X_train2, Y_train)

Y_predict2 = svm2.predict(X_test2)
acc2 = accuracy_score(Y_test, Y_predict2)
acc2
print("Accuracy score increases in {}".format(((acc2 - acc)/acc) * 100))

Accuracy score increases in 0.930232558139541

a hypothesis test can assess whether the difference is significant but since the data base is small the samples are subject to chance